
.page{
    color:red;
    height:100%;
    display:flex;
    flex-direction: column;
}
.header{
    padding: 22px 0px;
    height: 88px;
    width: 1190px;
    margin: auto;
}
.logo{
    width:190px;
    display:block;
    margin-top:10px;
}
.content{
    width:100%;
    background:#ddd;
    flex:1;
    position:relative;
}
.inner{
   position: relative;
   height:100%;
   width: 1190px;
   margin: auto;
}
.inner a.ad{
    display:block;
}
.loginForm{
    position: absolute;
    width: 350px;
    height: 400px;
    background:#fff;
    z-index:1;
    top:91px;
    bottom:91px;
    margin:auto;
    right:60px;
    padding: 25px 26px 20px;
    box-sizing: border-box;
}
.input{
   margin:10px 0;
}
.inputBox{
    position:relative;
}
.input input{
    width:100%;
    height:40px;   
    display:block;
    outline: none;
    border:1px solid #ddd;
    padding:0 20px 0 10px;
    border-radius:3px;
    color:#333;
}
.clear{
    position: absolute;
    display:inline-block;
    width:12px;
    height:12px;
    border-radius: 8px;
    background:rgba(0,0,0,.3);
    color:#000;
    right:2%;
    top:0;
    bottom:0;
    margin:auto;
    z-index:10;
}
.clear::before, .clear::after {
    content: '';
    position: absolute;
    width: 1px;
    top: 20%;
    left: 46%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
}
.clear::before {
    transform: rotate(45deg);
}
.clear::after {
    transform: rotate(-45deg);
}
.submit{
    width:100%;
    height:38px !important;
    font-size:15px;
    margin-top:10px;
}
.forgetPsd{
    text-align:right;
    padding:10px 0;
}
.forgetPsd a{
    padding-left:12px;
}
.footer{
   height:100px;
   text-align: center;
   font-size:18px;
   display:flex;
   justify-content: center;
   align-items: center;
}
