
.page{
    color:red;
    height:100%;
    display:flex;
    flex-direction: column;
}
.header{
    padding: 22px 0px;
    height: 44px;
    width: 1190px;
    margin: auto;
}
.logo{
    width:190px;
    display:block;
    margin-top:10px;
}
.content{
    width:100%;
    background:rgb(225, 55, 1);
}
.inner{
   position: relative;
   width: 1190px;
   margin: auto;
}
.inner a{
    display:block;
}
.loginForm{
    position: absolute;
    width: 350px;
    height: 400px;
    background:#fff;
    z-index:1;
    top:91px;
    right:60px;
    padding: 25px 26px 20px;
    box-sizing: border-box;
}
.footer{
   flex:1;
}
